<div class="footer">
  <div class="container">
    <div class="footer-inner-block">
  <div class="centralizar">
    <p class="titulo">Plant Care System- Version 1.0</p>
  </div>
  <div class="centralizar">
    <p class="autor">Linto Johny</p>
    <p class="autor">
      <a href="https://www.linkedin.com/in/linto-johny-402256125/"
        >
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
      -
      <a href="https://github.com/lintojohny">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    </p>
  </div>
</div>
</div>
</div>
